.Body {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.body-content {
  margin: 0.5rem;
}

.Body p {
  font-size: 2rem;
  margin: 3rem;
  margin-bottom: 0;
}
