.Shift {
  display: block;
  flex-direction: column;
  text-align: start;
  justify-content: start;
  align-items: center;
  border: 2px solid black;
  border-radius: 2px;
  background-color: #d9d9d9;
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 4px 6px black;
}

.shift :hover {
  cursor: pointer;
  box-shadow: 2px 8px 10px black;
}

.shift-upper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.shift-upper h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #d9d9d9;
  height: 8rem;
  font-size: 2rem;
}

.shift-below > p {
  text-align: center;
}

.time {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
}

/* For All Shifts Component */
.AllShift {
  width: 95vw;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.shifts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

/* For Create Shift */
.CreateShift {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 3rem;
}

.CreateShift h1 {
  font-size: 2rem;
}

.input-block {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: start;
  align-items: start;
  margin: 2rem;
}

.input-block label {
  font-size: 1.5rem;
  flex-direction: column;
}

.input-block-time {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.time {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  justify-content: start;
  padding: 0;
}

.time > label {
  font-size: 1.2rem;
}

.time > input {
  width: 12rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}
